* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100vw;
    background: linear-gradient( to bottom right , rgba(0, 0, 255, 0.5) 0% 40%, rgba(128, 0, 128, 0.5) 90% 100%);
    overflow-x: hidden;
}

/* header */

header {
    height: 3em;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* back button */

.header .back-button {
    margin-left: 1em;
    font-size: large;
    color: white;
}

.header .back-button p {
    color: white;
}

.header .back-button i {
    margin-right: 5px;
}

/* page title */

.header .page-title {
    margin-right: 2em;
    font-size: large;
    color: white;
}

.header .page-title i {
    margin-right: 5px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cards */

/* card 1 */

.card1 {
    height: 15em;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin-top: 5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
}

.display-name {
    font-size: 2rem;
    margin: 0.8em;
}

.image {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-image: url(profile-image.jpg);
    background-size: cover;
    background-position: center;
}

/* card 2 */

.card2 {
    height: 15em;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card2-heading {
    height: 20%;
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    
}

.card2-info {
    height: 100%;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 table td {
    width: 150px;
}

/* card 3 */

.card3 {
    height: 15em;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card3-heading {
    height: 20%;
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    
}

.card3-info {
    height: 100%;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3 table td {
    width: 150px;
}

/* card 4 */

.card4 {
    height: 15em;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card4-heading {
    height: 20%;
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    
}

.card4-info {
    height: 100%;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card4 table td {
    width: 150px;
}

/* edit button */

.edit-button {
    height: 3em;
    width: 10em;
    margin: 5em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    color: white;
    transition: transform 0.1s ease;
    cursor: pointer;
}

.edit-button:active {
    transform: scale(0.95);
}

/* card */

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.01);
}

/* form */

.edit-form {
    width: 60%;
    margin: 4em auto;
    padding: 2em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    color: white;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 2em;
}

.form-group label {
    width: 150px;
}

.form-group input {
    flex: 1;
    padding: 0.45em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5em;
    margin: 0.2em;
}

::placeholder {
    color: white;
}

/* button */

.edit-form .save-button {
    height: 3em;
    width: 20em;
    margin: 2em 0 0em 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    color: white;
    align-self: center;
    cursor: pointer;
}