* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient( to bottom right , rgba(0, 0, 255, 0.5) 0% 40%, rgba(128, 0, 128, 0.5) 90% 100%);
    overflow: hidden;
}

header {
    height: 8em;
    width: 100vw;
}

.header-div {
    height: 8em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-card {
    height: 6em;
    width: 50em;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}

.heading-text {
    text-align: center;
    font-size: 2rem;
    color: white;
}

/* main */

main {
    height: 80%;
}

.main-container {
    height: 100%;
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10em;
}

a {
    height: 100%;
    width: 22.5%;   
    margin: 1em;
    text-decoration: none;
}

.row1 {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em;
} 

.row2 {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em;
}

.card {
    height: 90%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

.text {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}